body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background: url('https://look.com.ua/pic/201311/1920x1080/look.com.ua-83921.jpg');
    background-size: cover;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 2px grey; 
    
}
h3 {
    color: rgb(134, 142, 150); 
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-bottom: 50px;
}
footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
footer .pages > a {
    color: #36393a;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
footer .pages {
    margin-bottom: 50px;
}
.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
.news {
    background-color: #fff;
    padding: 50px - 32px;
}
article {
    width: 768px;
    margin: 0 auto 38px;
    padding: 6px 15px;
}
article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}
article a:hover {
    color: #0085a1;
}
article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px grey; 
}
.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}
article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.color {
    background-color: bisque;
}
article:nth-child(1n+1) {
    content: "NEW!";
}